html,body {
	background-color: rgba(174, 59, 10, 1);
	background-size:100%;
	background-position:center;
}

.container {
	border: 4px ridge brown;
	background-color:rgba(255,69,0,0.65);
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding:10px;
	width:100%;
	height: 100%;
	font-family: "Times New Roman";

}

.item {
	border:2.5px inset black;
	border-radius: 30px;
	text-align: center;
	margin:10px;
}
.content{
	display:none;
}

.title-container {
	align-items: center;
	justify-content: center;
	display:flex;
	margin:0;
	letter-spacing: 7px;
	font-family: Times;
	font-size: 30px;
}
.title-container .the-title {
	color:rgba(174, 133, 10, 1);
	text-align: center; 
	justify-content: center;
}

pre {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.video-box {
	border: 5px groove #123456;
	justify-content: center;
	align-items: center;
}

nav {
	background-color: background-color: rgba(174, 59, 10, 1);
}
